.square1{
    width: 751px;
    height: 236px;
    background-color: #2D7053;
    position: relative;
}

.circle{
    position: absolute;
    top: 46px;
    left: 37px;
}

.head{
    position: absolute;
    top: 52px;
    left: 237px;
    font-family: Arial, Helvetica, sans-serif;
    width: 134px;
    height: 131px;
    font-size: 30px;
    color: white;
}

.menu{
    position: absolute;
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    top: 83px;
    left: 621px;
}

.menu2{
    position: absolute;
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    top: 111px;
    left: 621px;
}
.menu3{
    position: absolute;
    width: 85px;
    height: 13px;
    background-color: white;
    border-radius: 20px;
    top: 139px;
    left: 621px;
}

.bodyimg1{
    position: relative;
    width: 750px ;
    height: 466px ;
    z-index: -1;
}

.button{
    position: absolute;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    text-align: center;
    left: 204px;
    top: 579px;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 75px;
    color: white;

}

.body2{
    position: relative;
    width: 751px;
    height: 1030px;
    background-color: white;
}
.body2img{
    position: absolute;
    height: 247px;
    left: 44px;
    top: 73px;
    border-radius: 50%;
}

.body2text1{
   position: absolute; 
   top: 134px;
   left:364px;
   width: 245px;
   height: 50px;
   font-family: 'Arial';
   font-size: 25px;
}

.body2text2{
position: absolute;
top:163px;
left:364px;
width: 245px;
height: 50px;
font-size: 20px;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
}

.body2text3{
    position: absolute;
    left: 44px;
    top: 380px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 590px;
    height: 166px;
}

.body2text4{
    position: absolute;
    left: 44px;
    top:592px;
    width: 545px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

.unorderedlist1{
    position: absolute;
    top: 667px;
    left: 44px;
    width: 256px;
    height: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.button2{
    position: absolute;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    text-align: center;
    left: 217px;
    top: 900px;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 75px;
    color: white;

}

.foot{
    position: relative;
    width: 751px;
    height: 154px;
    background-color: #888888;
}

.footimg{
    position: absolute;
    height: 97px;
    top:29px;
    left: 44px;
}

.foottext1{
position:absolute;
left: 562px;
top: 57px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

.foottext2{
    position:absolute;
    left: 562px;
    top: 99px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.foottext3{
    position:absolute;
    left: 325px;
    top: 103px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}