html{
    font-size: 20px;
}

.logo {
    padding-top: 2rem;
    padding-left: 10%;
    padding-bottom: 1rem;
    color: black;
    font-size: 3rem;
}

.logo-item{
    color: #4bcaff;
}
body, ul, li{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header__menu{
margin: 0 auto;
overflow: hidden;
width: 80%;
background-color: #35444f;
}

.header__menu-item{
    text-transform: capitalize;
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;

    
}

.header__menu-item a{
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0rem;
    color: white;
    text-decoration: none;
}

.header__menu-item:hover{
    background-color: #222f3a;
}

.left__menu{
    position: absolute;
    padding-top: 1rem;
    border: 1px solid black;
    margin:  1.5rem 10%;
    overflow: hidden;
    width: 20%;
    background-color: white;
    padding: 0;
    }
    
    .left__menu-item{
        padding-left: 1rem;
        text-transform: capitalize;  
        list-style-type: none;

    
        
    }
    
    .left__menu-item a{
        display: inline-block;
        width: 100%;
        padding: 1.5rem 0;
        color: black;
        text-decoration: none;
    }
    
    .left__menu-item:hover{
        background-color: #dbdbdb;
    }
    
    .body__menu-img{
        position: relative;
        border: 1px solid black;
        width: 55%;
        height: 70vh;
        background-color: white;
        margin-left: 35%;
        margin-top: 1.5rem;
    }

    .img__1{
        position: absolute;
        height: 70%;
        width: 40%;
        margin-top: 10%;
        margin-left: 30% ;
    }

    .body__content{
        text-align: left;
        width: 50%;
        margin-left: 37.5%;
        font-size: 0.8rem;
    }

.botom__menu{
    width: 80%;
    height: 70px;
    margin-left: 10%;
    background-color: #B4B7BA;
    overflow: hidden;
    padding-left: 15px;
}

.botom__menu li{
    text-transform: capitalize;
    float: left;
    text-decoration:none;
    list-style-type:none ;
}

.botom__menu ul li a{
    padding: 25px;
text-decoration: none;
   color: black;
   line-height: 70px;
}

.botom__menu ul li :hover{
    color: #3181A6;
    text-decoration: underline;
}





.botom__menu-coppy{
    float: right;
    line-height: 70px;
    padding-right: 40px;
}

