:root{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 15.8em;
    margin-right: 15.8em;
}

h2{
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: .7rem ;

}

.nav1{
    width: 300px;
    height: 100px;
    background-color: #F0F2F5;
    margin-top: 1rem;
    font-size: .6em;
}
.nav1 > label, label>input{
    font-size: 0.6rem;
    display: inline-block;
    margin: 0;
    line-height: 28px;
    height: 28px;
    vertical-align: top;
    margin-left: 15px;
}

#signin{
   padding-top: 20px; 
   margin-left: 30px;
}

h1{
    font-size: .75rem;
   margin-bottom: 20px;
}
.nav2{
width: 270px;
height: 700px;
background-color: #F0F2F5;
margin-top: .8rem;
 padding-left: 30px;

}

#deldata{
    padding-top: 25px;
}

#nav2{
    width: 230px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    margin: 0;
    font-size: 0.6rem;
    font-weight: normal;
    

}





.nav3{
    position: absolute;
    width: 555px;
    height: 100px;
    background-color: #F0F2F5;
   
    margin-left: 315px;
    margin-top: -815px;
}

#delivery{
    margin: 0;
    font-size: .75rem;
    margin-bottom: 20px;
    padding-top: 20px; 
   margin-left: 30px;

}

.nav3 > label, label>input{
    font-size: 0.6rem;
    display: inline-block;
    margin: 0;
    line-height: 28px;
    height: 28px;
    vertical-align: top;
    margin-left: 15px;
}






.nav4{
    position: absolute;
    width: 555px;
    height: 100px;
    background-color: #F0F2F5;
    
    margin-left: 315px;
    margin-top: -700px;
}

.nav4 > label, label>input{
    font-size: 0.6rem;
    display: inline-block;
    margin: 0;
    line-height: 28px;
    height: 28px;
    vertical-align: top;
    margin-left: 15px;
}



.basket{
    position: absolute;
    color: black;
    font-size: .75rem;
    font-weight: bold;
    margin-left: 315px;
    margin-top: -585px;
}



.nav5{
    position: absolute;
    width: 555px;
    height: 250px;
    background-color: #ffffff;
    margin-top: -550px;
    margin-left: 315px;

}

table{
    text-transform: uppercase;
    font-size: .5rem;
    width: 100%;
    height: 250px;
    border-spacing: 0;
}
.pick{
background-color:#F0F2F5 ;

}
td{
   width: 20%;
   padding-left: 30px;
}
 
.opt{
    font-weight: bold;
}

.nav6{
    position: absolute;
    width: 555px;
    height: 250px;
    background-color: #F0F2F5;
    margin-top: -280px;
    margin-left: 315px;

}

.paymeth{
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 20px; 
   margin-left: 30px;

}

.addcomments{
    font-size: 0.6rem;
    margin-left: 30px;
}

textarea{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 495px;
    height: 60px;
}

.nav6>label{
    font-size: .6em;
    margin-left: 15px;
}

.button{
    position: absolute;
    background-color: #946FD3;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    color:white ;
    border:none;
    margin-top: 30px;
    margin-left: 135px;
}

.inp{
    position: relative;
    width: 20px;
    bottom: 5px;
}