body{
    font-family:'Arimo', sans-serif;
    font-size: 16px;
    color: #484848;
}
.table{
    width: 71.6875em;
}
table{
    border-collapse: collapse;
    border: 1px solid grey;
     width: 100%;
     width: -webkit-max-content
}

td{
    border: 1px solid #E0E0E0;
}

.str2_r1{
    background-color:#89C331 ;
}

.str3_r1{
    background-color:#F04A56 ;
}

.str4_r1{
    background-color:#20807C;
}

.str1_r1,.row2_r1{
    background-color:#FAFAFA;
}

.row3,.row5,.row7{
    background-color: #F2F2F2;
}

.row4,.row6,.row8{
    background-color: #E3E3E3;
}


tr,td{
    padding: 1.09375rem;
    text-align: center;
    text-transform: uppercase;
    font-size: .8125em;
}

.str2_r1,.str3_r1,.str4_r1{
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}

.pricing{
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.ch1{
    font-size: 1rem;
}

.price{
    font-size: 3.2em;
    display: inline-block;

}

.price_2 {
    display: inline-block;
    text-align: left;
    font-size: .8rem;
    line-height: .9rem;
}

.price_2 span {
    font-size: .8rem;
}

.price,.price_2{
    font-weight: bold;
}

.price_2 span{
    font-weight: normal;
}


.str1_r3::before{
    content: '';
  
    width: 23px;
    height: 20px;
    background: url(..//img/storage.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    }

.str1_r4::before{
    content: '';
    width: 25px;
    height: 20px;
    background: url(..//img/Bandwidth.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
        }

 .str1_r5::before{
    content: '';
    width: 24px;
    height: 20px;
    background: url(..//img/Email.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
            }

 .str1_r6::before{
     content: '';
     width: 24px;
    height: 24px;
     background: url(..//img/support.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
         }            

 .str1_r7::before{
     content: '';
    width: 23px;
    height: 23px;
    background: url(..//img/products.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
       }      
       
       .str1_r8::before{
        content: '';
       width: 26px;
       height: 25px;
       background: url(..//img/users.png);
       display: inline-block;
       vertical-align: middle;
       margin-right: 5px;
          }    


    .button1{
        color: white;
        font-family:'Arimo', sans-serif;
        text-transform: uppercase;
        border-radius: .4rem;
        border: none;
        background-color: #484848;
        width:130px;
        padding: 10px 15px;
        box-shadow: 2px 6px 3px -4px black; 
       }

       
    .button2{
        color: white;
        font-family:'Arimo', sans-serif;
        text-transform: uppercase;
        border-radius: .4rem;
        border: none;
        background-color: #89C331;
        width:130px;
        padding: 10px 15px;
        box-shadow: 2px 6px 3px -4px black; 
       }

       .button3{
        color: white;
        font-family:'Arimo', sans-serif;
        text-transform: uppercase;
        border-radius: .4rem;
        border: none;
        background-color: #F04A56;
        width:130px;
        padding: 10px 15px;
        box-shadow: 2px 6px 3px -4px black; 
       }

       .button4{
        color: white;
        font-family:'Arimo', sans-serif;
        text-transform: uppercase;
        border-radius: .4rem;
        border: none;
        background-color: #20807C;
        width:130px;
        padding: 10px 15px;
        box-shadow: 2px 6px 3px -4px black; 
       }

       