:root{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

/*--------head--------*/
.head{
    border-bottom: 1px solid #E2E2E2 ;
    font-size: 1.5em;
    font-weight: 700;
}
/*--------content--------*/
.content_menu{
    display: flex;
    justify-content: space-between;
}

.content_header1{
    background-color:#F0F2F5;
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

.main_content{
    position: relative;
    margin-top: 1em;
    width: 75%;
    height: 570px;
    
}

.order_details{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    line-height: 1.8rem;
    padding: 1em 1em 0 1em;
}

span{
    font-weight: 700;
}

.column1, .column2{
    width: 50%;
}

.content_header2{
    display: flex;
    flex-direction: row;
    background-color:#F0F2F5;
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background-color:#F0F2F5;
    margin-top: 10px;
}

.content_header2_item{
    width: 50%;
}

.order_details2{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    line-height: 1.8rem;
    padding: 1em 1em 0 1em;
}

.column1_2, .column2_2{
    width: 50%;
}

.content_header3{
    display: flex;
    flex-direction: row;
    background-color:#F0F2F5;
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background-color:#F0F2F5;
    margin-top: 10px;
}

.content_header3_item2{
    margin-left: 130px;
}

.content_header3_item3{
    margin-left: 90px;
}

.content_header3_item4{
    margin-left: 130px;
}

.content_header4{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.content_header4_item2{
    margin-left: 50px;
}

.content_header4_item3{
    margin-left: 131px;
}

.content_header4_item4{
    margin-left: 75px;
}

.button_1{
    color: #946FD3;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 2px solid #946FD3;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 80px;
}

select{
    border: 1px solid ;
}

svg{
    position: relative;
    top:-8px;
    left: 25px;
}

.content_header5{
    padding: 10px 0 10px 0;
    background-color:#F0F2F5;
    width: 100%;
    display: flex;
}

.column1_3{
    margin-left: 290px;
    text-align: right;
    font-size: 0.75em;
    line-height: 25px;
}

.column2_3{
    margin-left: 70px;
    font-size: 0.75em;
    line-height: 25px;
}

/*---------menu---------*/
.nav_menu{
    margin-top: 20px;
    width: 20%;
    background-color: lavender;
    height: 300px;
    overflow: hidden;
    background-color: #F0F2F5;
    padding: 0;
}

.list_item{
        text-transform: capitalize;  
        list-style-type: none;
        padding: 15px 0;

}

.list_item a{
        display: inline-block;
        width: 100%;
        color: #354657;
        text-decoration: none;
        padding-left: 20px;
    }

ul{
    padding: 0 0 0 0;
    margin: 0;
}

li{
    font-size: .75em;
    font-weight: 700;
    border-top: 1px solid #E2E2E2;

}

.list_item :hover{
        color: #C2C2C6;
    }
}





