
body{
padding: 0;
margin: 0;
background-image: url(../img/bck.png) ;

background-size: 100%;
font-size: 20px;
}

body::after{
    content: '';
    display: block;
    background-color:rgba(0,0,0,.7);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: -1;

  }

.background{
    width: 100%;
    height: 100%;
    background-color: black;
}


.logo{
    position: absolute;
    color: white;
    font-size: 30px;
    line-height: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 230px;
    margin-top: 47px;
}

.logo>span{
    font-size: 18px;
}

.logo::before{
    position: relative;
    content: url(..//img/logo@1X.png);
    float: left;
    margin-right: 5px;    
}

.logo:hover{
    filter: contrast(50%) sepia(100%) hue-rotate(5deg) brightness(0.8) saturate(500%);
}

.info{
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    text-align: right;
    margin-top: 57px;
    margin-right: 250px;

}

.info>a{
    text-decoration: none;
    color: white;
}

.block__1,.block__2,.block__3,.block__4,.block__5,.block__6{
height: 200px ;
width: 307px;
color: white;
background-color: white;
float: left;
display: inline-block;
margin-left: 69px;
margin-top: 70px;
font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.block__1,.block__2,.block__3{
    margin-top: 0;
}

.content{
    float: left;
    margin-left: 157px;
    margin-top: 48px;
}

.block__1{
    position: relative;
    background-image: url(..//img/Layer\ 21@1X.png);
}

.block__2{
    position: relative;
    background-image: url(..//img/Layer\ 22@1X.png);
}

.block__3{
    position: relative;
    background-image: url(..//img/Layer\ 23@1X.png);
}

.block__4{
    position: relative;
    background-image: url(..//img/Layer\ 24@1X.png);
}

.block__5{
    position: relative;
    background-image: url(..//img/Layer\ 25@1X.png);
}

.block__6{
    position: relative;
    background-image: url(..//img/Layer\ 26@1X.png);
}

.block__1>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.block__2>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.block__3>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.block__4>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.block__5>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.block__6>p{
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
}

.footer{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: absolute;
    margin-top: 700px;
    margin-left: 550px;
}

.inside_holder{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:130px;
    background:orange;
    display:none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
.block__1>p:hover{
    color: orange;
}

.block__2>p:hover{
    color: orange;
}

.block__3>p:hover{
    color: orange;
}

.block__4>p:hover{
    color: orange;
}

.block__5>p:hover{
    color: orange;
}

.block__6>p:hover{
    color: orange;
}

.block__1:hover .inside_holder{
display: block;

}

.inhold{
    font-size: 10px;
}

.inhold__2{
    position: absolute;
    font-size: 15px;
    padding-left: 140px;
}

.block__2:hover .inside_holder{
display: block;
    
    }
    
.block__3:hover .inside_holder{
display: block;
        
        }
    
.block__4:hover .inside_holder{
display: block;
            
            }
    
.block__5:hover .inside_holder{
    display: block;
                
}
    
.block__6:hover .inside_holder{
    display: block;
                    
    }
                    