:root{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.header{
font-weight: 700;
font-size: 1.2em;
border-bottom: 1px solid #E2E2E2;
margin-bottom: 1em;
}

.sort{
  display: flex;
  justify-content: flex-end;  
  margin-bottom: 1em;
}

label{
    font-size: .8em;
    font-weight: 700;
}

.content{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4.1fr);
    grid-auto-rows: minmax(200px, 260px);
    grid-gap: 15px;

}

select{
    border: 2px solid #F2F2F2;
    height: 30px;
    width: 150px;
    position: relative;
    bottom: 5px;
    color: #354657;

}

.one{
    grid-column: 1/2;
    grid-row: 1/3 ;
}

.ten{
    grid-column: 4/5;
}

.nine{
    grid-column: 3/4;
}

.eight{
    grid-column: 2/3;
}

.text1{
    font-weight: 700;
    font-size: .8em;
    
}

.text2{
    font-size: .8em;
}

.one{
    border: 1px solid #E2E2E2;
    position: relative;
}

.two{
    border: 1px solid #E2E2E2;
}


.three{
    border: 1px solid #E2E2E2;
}


.four{
    border: 1px solid #E2E2E2;
}


.five{
    border: 1px solid #E2E2E2;
}


.six{
    border: 1px solid #E2E2E2;
}


.seven{
    border: 1px solid #E2E2E2;
}


.eight{
    border: 1px solid #E2E2E2;
}


.nine{
    border: 1px solid #E2E2E2;
}


.ten{
    border: 1px solid #E2E2E2;
}


.one{
    border: 1px solid #E2E2E2;
}

.button{
    color: #946FD3;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 2px solid #946FD3;
    border-radius: 50px;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
    margin-left: 490px;
    width: 150px;
    margin-top: 20px;
}

.filter{
    position: absolute;
    left: 20px;
    top: 15px;
    font-weight: 700;
}

#volume{
    background-color: #946FD3;
    color: white;
    font-weight: 400;
    border: none;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
}

.check{
    position: absolute;
    margin-top: 60px;
   margin-left: 35px;
   text-align: start;
   line-height: 30px;
}

summary{
    font-weight: 700;
}